@keyframes longInPlace {
  from {
    width: 0em;
    top: 5.1em;
    left: 3.2em;
  }
  to {
    width: 4em;
    top: 3.7em;
    left: 2.45em;
    visibility: visible;
  }
}

.successIconLong {
  display: block;
  position: absolute;
  height: 4px;
  background-color: #fff;
  border-radius: 10px;
  width: 4em;
  transform: rotate(-45deg);
  top: 3.7em;
  left: 2.45em;
  animation: longInPlace 300ms ease-in-out;
  animation-fill-mode: forwards;
  visibility: hidden;
  animation-delay: 800ms;
}

@keyframes tipInPlace {
  from {
    width: 0em;
    top: 0em;
    left: -1.6em;
  }
  to {
    width: 2.4em;
    top: 4.3em;
    left: 1.1em;
    visibility: visible;
  }
}

.successIconTip {
  display: block;
  position: absolute;
  height: 4px;
  background-color: #fff;
  border-radius: 10px;
  width: 2.4em;
  top: 3.3em;
  left: 1.1em;
  transform: rotate(45deg);
  animation: tipInPlace 700ms ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 180ms;
  visibility: hidden;
}

@keyframes showSuccess {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.successIcon {
  display: inline-block;
  width: 8em;
  height: 8em;
  font-size: 12px;
  border-radius: 50%;
  border: 4px solid #64bd6e;
  background-color: #64bd6e;
  position: relative;
  overflow: hidden;
  transform-origin: center;
  animation: showSuccess 580ms ease-in-out;
  transform: scale(1);
}

.successCenter {
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  margin-top: 1rem;
  min-height: 130px;
}

.successCenter:not(:last-child) {
  margin-bottom: 0.3em;
}
