@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-md:px-5;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  :root {
    --color-primary: 230 225 201;
    --color-secondary: 197 206 223;
    --color-main: 15 16 18;
    --color-accent: 233 234 236;
    --color-description: 127 127 127;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 242 66% 69%;
    --primary-foreground: 242 65.5% 17.1%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }

  h1 {
    @apply text-4xl font-semibold md:text-7xl;
  }

  h1 b,
  h2 b,
  h3 b,
  h4 b,
  h5 b {
    @apply font-semibold text-primary;
  }

  h1 {
    @apply mb-3;
  }
  h2 {
    @apply mb-7 text-[1.625rem] font-medium leading-[2rem] md:mb-8 md:text-[3.5rem] md:leading-[4.5rem];
  }
  h3 {
    @apply mb-8 text-[2.125rem] font-normal leading-[2.75rem];
  }
  p {
    @apply text-base;
  }

  a {
    @apply hover:opacity-80;
  }
}

@tailwind components;
@tailwind utilities;

.rich-content ol,
.rich-content ul {
  margin: 0.5rem 0;
  padding-left: 1.5rem;
}
.rich-content ul {
  list-style: disc;
}
.rich-content ol {
  list-style-type: none;
}
.rich-content ol li {
  counter-increment: step-counter;
}
